html, body {
min-height: 100%;
}
body, div, form, input, select, p { 
padding: 0;
margin: 0;
outline: none;
font-family: Roboto, Arial, sans-serif;
font-size: 14px;
color: #666;
line-height: 22px;
}
h1 {
margin: 15px 0;
font-weight: 400;
}
h4 {
margin-bottom: 4px;
}
.testbox {
display: flex;
justify-content: center;
align-items: center;
height: inherit;
padding: 3px;
}
form {
width: 100%;
padding: 20px;
background: #fff;
box-shadow: 0 2px 5px #ccc; 
}
input, select, textarea {
width: calc(100% - 10px);
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 3px;
}
input:hover, textarea:hover, select:hover {
outline: none;
border: 1px solid #095484;
}
textarea {
margin-bottom: 3px;
}
.item {
position: relative;
display: flex;
flex-direction: column;
margin: 10px 0;
}
input[type="date"]::-webkit-inner-spin-button {
display: none;
}
.item i, input[type="date"]::-webkit-calendar-picker-indicator {
position: absolute;
font-size: 20px;
color: #a9a9a9;
}
.item i {
left: 94%;
top: 30px;
z-index: 1;
}
[type="date"]::-webkit-calendar-picker-indicator {
left: 93%;
z-index: 2;
opacity: 0;
cursor: pointer;
}
.street, .desired-outcome-item, .complaint-details-item {
display: flex;
flex-wrap: wrap;
}
.street input {
margin-bottom: 10px;
}
small {
display: block;
line-height: 16px;
opacity: 0.7;
}
.btn-block {
margin-top: 20px;
text-align: center;
}
button {
padding: 10px;
border: none;
-webkit-border-radius: 5px; 
-moz-border-radius: 5px; 
border-radius: 5px; 
background-color: #095484;
font-size: 16px;
color: #fff;
cursor: pointer;
}
button:hover {
background-color: #0666a3;
}
@media (min-width: 568px) {
input {
width: calc(35% - 20px);
margin: 0 0 0 8px;
}
select {
width: calc(35% - 20px);
margin: 0 0 0 8px;
}
.item {
flex-direction: row;
align-items: center;
}
.item p {
width: 30%;
}
.item i {
left: 61%;
top: 25%;
}
[type="date"]::-webkit-calendar-picker-indicator {
left: 60%;
}
.street, .desired-outcome-item, .complaint-details-item {
width: 70%;
}
.street input {
width: calc(50% - 20px);
}
.street .street-item {
width: 100%;
}
.address p, .desired-outcome p, .complaint-details p {
align-self: flex-start;
margin-top: 6px;
}
.desired-outcome-item, .complaint-details-item {
margin-left: 12px;
}
textarea {
width: calc(100% - 6px);
}
}

/* NAVIGATION */

nav {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 50px 0;
}

/* By Dominik Biedebach @domobch */
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

/* By Dominik Biedebach @domobch */
/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #333;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}


/* Table */
table{
  width: 95%
}
th {
  font-weight: bold;
  text-align: left;
  background-color: #ccc;
}

tr .hv:hover {
  background-color: lightsteelblue;
}
td {
  height: 35px;
}

table .button:hover {
background-color: red;
}

table .button {
  padding: 10px;
  margin: 15px;
  border: none;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: darkred;
  font-size: 10px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

/* Results */
.Result{
  width: 70%;
}

.Result th{
  width: 20%;
}
